@import '../../index.scss';

.search__block {
  margin: 0px auto;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  font-size: 12rem;
  border: 2px solid $dark;
  align-items: center;
  background-color: $dark;
  box-shadow: 4px 4px 4px $shadow;

  & > * {
    display: inline-block;
  }
}
