@import '../../index.scss';

.pagination__block {
  width: fit-content;
  margin: 20px auto;
}

.pagination__item {
  margin: 10px;
  padding: 7px 8px;
  border: 2px solid $dark;
  border-radius: 5px;
  background-color: $light;
  cursor: pointer;

  &:active {
    background-color: $dark;
  }

  &:disabled {
    cursor: default;

    &:active {
      background-color: $light;
    }
  }
}

.current-page {
  background-color: $dark;
  cursor: default;
}
